fastapi==0.110.3
typer==0.9.4
thinc==8.2.5
confection==0.1.5
weasel==0.3.4
torch==2.2.2
transformers==4.57.3
tokenizers==0.22.0
safetensors==0.4.5
huggingface-hub==0.35.3
cloudpathlib==0.16.0
pathy==0.11.0
smart-open==6.4.0
